body {
  display: flex;
  flex-flow: row wrap;
}

nav, aside {
  width: 20%;
}
header, footer {
  width:100%;
}

nav:nth-child(2) {
  order:1;
}
article {
  width: 60%;
  order: 2;
}
aside:nth-child(4) {
  order: 3;
}
footer {
  order:4;
}
