h1 {
  font-family: helvetica, sans-serif;
  color: darkblue;
  text-align: center;
  border-style: solid;
  border-color: darkgrey;
  border-width: medium;
  border-radius: 5px;
}
.slogan {
  font-size: 1.5rem;
  font-variant: small-caps;
  text-decoration: underline;
  text-align: center;
}
li {
  color: darkblue;
}
