div {
  width: 400px;
  height: 400px;
  padding: 30px;
  color: white;
  font-size: .75rem;
  border: solid black 30px;
  background-color: blue;
  background-image: url(01.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin:content-box;
}
