
h1 {
  text-align: center;
  font-family: sans-serif;
}

.indent {
  padding-left: 20px;
}
article {
  border-style: solid;
  margin-bottom: 10px;
}
aside {
    border-style: solid;
    margin-bottom: 10px;
}
nav {
  border-style: solid;
  border-width: thin;
  margin-bottom: 10px;
}
h3 {
  padding-left: 20px;
}
