header {
  text-align: center;
}
nav {
  margin: 20px;
}
section {
  border-style: solid;
  border-width: thin;
  padding: 5px;
}
article {
  padding: 5px;
}
aside {
  padding: 5px;
  border-style: solid;
  border-width: thin;
  margin: 1px;
}
