header {
  background-color: orange;
}
main {
  background-color: lightblue;
}
.aside1 {
  background-color: yellow;
}
.aside2 {
  background-color: hotpink;
}
footer {
  background-color: lightgreen;
}
