div {
  color: white;
  font-family: sans-serif;
}

.d1 {
  background-color: #F8ADC2;
}
.d2 {
  background-color: #F8BEAD;
}
.d3 {
  background-color: #F8E3AD;
}
.d4 {
  background-color: #E8F8AD;
}
.d5 {
  background-color: #C2F8AD;
}
.d6 {
  background-color: #ADF8BE;
}
.d7 {
  background-color: #EFADF8;
}
