div {
  font-family: 'Roboto', sans-serif;
  color: white;
}

h1 {
  font-size: 1.5rem;
  font-weight: normal;
  padding: 1.25rem;

}
h2 {
  font-size: .75rem;
  font-weight: normal;
  padding:.1rem;

}
h3 {
  font-size: .75rem;
  font-weight: lighter;
}
button {
  margin: 1rem;
  font-size: 0.65rem;
  text-decoration: none;
  color: white;
}
