html, header, body, main {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  position: relative;
  max-width: 800px;
}
main {
  position: absolute;
  border: 2px grey solid;
  height: 500px;
  width: 650px;
  margin-left: 200px;
  padding: 20px;

}
header {
  position: absolute;
  border: 2px red solid;
  width: 200px;
  height: 500px;
  padding: 20px;

}
